.row
  - @contents.each_slice(2) do |contents_slice|
    .span12.infinite-item
      %ul.thumbnails
        - contents_slice.each do |content|
          %li.span5
            .thumbnail
              .caption
                = link_to content.title, '#', "data-content-id" => content.id
                %span.label.label-success= "To read!" unless content.read
                = raw content.page_content
